#################
## Visual Studio
#################

# User-specific files
*.suo
*.user
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# NUnit test results
TestResult.xml

# NuGet
packages/
*.nupkg

#############
## Windows
#############

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#############
## Mac OS X
#############

.DS_Store
